<CMartPageTitle>@Title</CMartPageTitle>

<div>
    @if (_showingPageDetail)
    {
        <PageDetailComponent PageDetail="@PageDetail" />
    }
    else
    {
        @ChildContent
    }
</div>
<button class="btn btn-primary" @onclick="TogglePageDetail">
    Toggle Page Detail
</button>


@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public PageDetail PageDetail { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool _showingPageDetail = false;

    private void TogglePageDetail()
    {
        _showingPageDetail = !_showingPageDetail;
    }

}
