<CMartPageTitle>@Title</CMartPageTitle>

<h3>@Title</h3>
<div>
    @if (_techViewService.IsTechViewShowing)
    {
        <PageDetailComponent PageDetail="@PageDetail" />
    }
    else
    {
        @ChildContent
    }
</div>


@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public PageDetail PageDetail { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Inject]
    private ITechViewService _techViewService { get; set; }

    protected override void OnInitialized()
    {
        _techViewService.TechViewShowingChanged += TechViewShowingChanged;
    }

    private void TechViewShowingChanged(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}
